<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Football Fx</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="app/styles/style.css" rel="stylesheet">
</head>
<body class="page-md page-quick-sidebar-over-content">

<div class="container">
    <div ng-controller="MainController">
        <div class="pull-right" ng-hide="isEditMode || isCreateMode">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="Search"
                           style="margin-right: 10px;">
                </div>
                <button ng-click="addPlayer()" class="btn btn-info pull-right">Player erstellen</button>
            </form>
        </div>
        <div ng-hide="isEditMode || isCreateMode">
            <h1>{{ title }}</h1>
            <br/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Wappen</th>
                    <th>Land</th>
                    <th>Platz</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Country</th>
                    <th>Verband</th>
                    <th>Position</th>
                    <th>Fifa_spiele</th>
                    <th>Rsssf_spiele</th>
                    <th>HudertesSpiel</th>
                    <th>Gegner</th>
                    <th>Startjahr</th>
                    <th>Endjahr</th>
                    <th>Bearbeiten</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in players | orderBy : 'platz' | filter: search">
                    <td>
                        <img style="width: 40px;" ng-src="app/assets/images/associations/{{player.country}}.png"
                             alt="{{player.country}} image">
                    </td>
                    <td>
                        <img style="width: 40px;" ng-src="app/assets/images/flags/{{player.country}}.png"
                             alt="{{player.country}} image">
                    </td>
                    <td> {{ player.platz }}</td>
                    <td> {{ player.name }}</td>
                    <td> {{ player.birthday }}</td>
                    <td> {{ player.country }}</td>
                    <td> {{ player.verband }}</td>
                    <td> {{ player.position }}</td>
                    <td> {{ player.fifa_spiele }}</td>
                    <td> {{ player.rsssf_spiele }}</td>
                    <td> {{ player.hundertesSpiel }}</td>
                    <td> {{ player.gegner }}</td>
                    <td> {{ player.startjahr }}</td>
                    <td> {{ player.endjahr }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button style="width: 35px;" ng-click="editPlayer(player)" type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                            <button style="width: 35px;" ng-click="deletePlayer(player)" type="button"
                                    class="btn btn-primary btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-show="isCreateMode">
            <h1>Create Football-Fx Pro Player </h1>
            <br/>

            <form class="form-horizontal">

                <div class="form-group">
                    <label for="inputPlatz1" class="col-sm-2 control-label">Platz</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.platz" class="form-control"
                               id="inputPlatz1"
                               placeholder="Platz">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputName1" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.name" class="form-control" id="inputName1"
                               placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBirthday1" class="col-sm-2 control-label">Birthday</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.birthday" class="form-control"
                               id="inputBirthday1"
                               placeholder="Birthday">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCountry1" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.country" class="form-control" id="inputCountry"
                               placeholder="Country">
                    </div>
                </div>
                <div class="form-group">

                <label for="inputVerband1" class="col-sm-2 control-label">Verband</label>
                    <div class="col-sm-2">

                        <select type="text" class="form-control" name="{{c.name}}" id="inputVerband1"
                                ng-model="createPlayer.verband" required>
                            <option ng-repeat="association in associations | orderBy: 'verband'"
                                    value="{{association.verband}}">
                                {{association.verband}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPosition1" class="col-sm-2 control-label">Position</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.position" class="form-control" id="inputPosition"
                               placeholder="Position">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputHundertesSpiel1" class="col-sm-2 control-label">HundertesSpiel</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.hundertesSpiel" class="form-control"
                               id="inputHundertesSpiel1" placeholder="HundertesSpiel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputGegner1" class="col-sm-2 control-label">Gegner</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.gegner" class="form-control" id="inputGegner1"
                               placeholder="Gegner">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFifa_spiele" class="col-sm-2 control-label">Fifa_spiele</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.fifa_spiele" class="form-control"
                               id="inputFifa_spiele1"
                               placeholder="Fifa_spiele">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRsssf_spiele1" class="col-sm-2 control-label">Rsssf_spiele</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.rsssf_spiele" class="form-control"
                               id="inputRsssf_spiele1" placeholder="Rsssf_spiele">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStartjahr1" class="col-sm-2 control-label">Startjahr</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.startjahr" class="form-control"
                               id="inputStartjahr1"
                               placeholder="Startjahr">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEndjahr1" class="col-sm-2 control-label">Endjahr</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="createPlayer.endjahr" class="form-control" id="inputEndjahr1"
                               placeholder="Endjahr">
                    </div>
                </div>

                <button ng-click="savePlayer()" class="btn btn-success">Speichern</button>
                <button ng-click="cancelEdit()" class="btn btn-warning">Abbrechen</button>
            </form>
        </div>

        <div ng-show="isEditMode">
            <h1>Edit Football-Fx Pro Player</h1>
            <br/>
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="inputPlatz" class="col-sm-2 control-label">Platz</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.platz" class="form-control"
                               id="inputPlatz"
                               placeholder="Platz">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.name" class="form-control" id="inputName"
                               placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBirthday" class="col-sm-2 control-label">Birthday</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.birthday" class="form-control" id="inputBirthday"
                               placeholder="Birthday">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCountry" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.country" class="form-control" id="inputCountry1"
                               placeholder="Country">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputVerband" class="col-sm-2 control-label">Verband</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.verband" class="form-control" id="inputVerband"
                               placeholder="Verband">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPosition" class="col-sm-2 control-label">Position</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.position" class="form-control" id="inputPosition1"
                               placeholder="Position">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputHundertesSpiel" class="col-sm-2 control-label">HundertesSpiel</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.hundertesSpiel" class="form-control"
                               id="inputHundertesSpiel" placeholder="HundertesSpiel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputGegner" class="col-sm-2 control-label">Gegner</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.gegner" class="form-control" id="inputGegner"
                               placeholder="Gegner">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFifa_spiele" class="col-sm-2 control-label">Fifa_spiele</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.fifa_spiele" class="form-control"
                               id="inputFifa_spiele"
                               placeholder="Fifa_spiele">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRsssf_spiele" class="col-sm-2 control-label">Rsssf_spiele</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.rsssf_spiele" class="form-control"
                               id="inputRsssf_spiele" placeholder="Rsssf_spiele">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStartjahr" class="col-sm-2 control-label">Startjahr</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.startjahr" class="form-control" id="inputStartjahr"
                               placeholder="Startjahr">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEndjahr" class="col-sm-2 control-label">Endjahr</label>
                    <div class="col-sm-2">
                        <input type="text" ng-model="editingPlayer.endjahr" class="form-control" id="inputEndjahr"
                               placeholder="Endjahr">
                    </div>
                </div>

                <button ng-click="updatePlayer()" class="btn btn-success">Speichern</button>
                <button ng-click="cancelEdit()" class="btn btn-warning">Abbrechen</button>
            </form>
        </div>
    </div>
</div>

<script src="main.js"></script>
</body>
</html>