.topVBox{
    -fx-background-image: url('bg.jpg');
    -fx-background-color: rgba(51,105,30, 0.8);

}
.tool-bar {
    -fx-background-color: rgba(51,105,30, 0.8);
    -fx-text-fill: white;
}

#body
{
    -fx-background-image:url("bg.jpg");
    -fx-background-repeat: repeat;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto Semibold";
    -fx-text-fill: white;
    -fx-padding: 5;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: rgba(0,61,0, 0.8);
    -fx-control-inner-background: rgba(0,61,0, 0.8);
    -fx-background-color: rgba(51,105,30, 0.8);
    -fx-table-cell-border-color: rgba(98,151,73, 1);
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 8pt;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: transparent;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: transparent;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto Semibold";
}


.button  {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: transparent;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: rgba(98,151,73, 1);
    -fx-text-fill: black;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color:transparent;
}

/* Combobox */
.combo-box {
    -fx-padding: 0 8 0 8;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius:0;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.combo-box:hover {
    -fx-background-color: transparent;
}

.combo-box:pressed, .combo-box:default:hover:pressed {
    -fx-background-color: rgba(98,151,73, 1);
    -fx-text-fill: #ffffff;
}
.combo-box:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
.combo-box:disabled, .combo-box:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box:default {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.combo-box:default:hover {
    -fx-background-color: transparent;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
}

.combo-box .list-cell:hover {
    -fx-background-color: transparent;
}

.combo-box .label {
    -fx-text-fill: white;
}

/* gridpane */
.gridTop, .gridBottom, .vBoxRight {
    -fx-background-color: rgba(51,105,30, 0.7);
    -fx-padding: 5;
    -fx-text-fill: #ffffff;
}

/* TextView */
.text-field {
    -fx-text-alignment: center;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto", monospace, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-padding: 5;
}

