<h1>{{ title }}</h1>
<br/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Verband</th>
        <th>Land</th>
        <th>Platz</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Country</th>
        <th>Verband</th>
        <th>Position</th>
        <th>Fifa_spiele</th>
        <th>Rsssf_spiele</th>
        <th>HudertesSpiel</th>
        <th>Gegner</th>
        <th>Startjahr</th>
        <th>Endjahr</th>
        <th>Bearbeiten</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players | orderBy : 'platz' | filter: search">
        <td>
            <img style="width: 40px;" ng-src="app/assets/images/associations/{{player.country}}.png"
                 alt="{{player.verband}} image">
        </td>
        <td>
            <img style="width: 40px;" ng-src="app/assets/images/flags/{{player.country}}.png"
                 alt="{{player.country}} image">
        </td>
        <td> {{ player.platz }}</td>
        <td> {{ player.name }}</td>
        <td> {{ player.birthday }}</td>
        <td> {{ player.country }}</td>
        <td> {{ player.verband }}</td>
        <td> {{ player.position }}</td>
        <td> {{ player.fifa_spiele }}</td>
        <td> {{ player.rsssf_spiele }}</td>
        <td> {{ player.hundertesSpiel }}</td>
        <td> {{ player.gegner }}</td>
        <td> {{ player.startjahr }}</td>
        <td> {{ player.endjahr }}</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button style="width: 35px;" ng-click="editPlayer(player)" type="button"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button style="width: 35px;" ng-click="deletePlayer(player)" type="button"
                        class="btn btn-primary btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>

        </td>
    </tr>
    </tbody>
</table>